body {
  background: #f7f7f7;
}

.card-dark {
  max-width: 390px;
  margin: 60px auto;
  border-radius: 16px;
  background: #101010;
  padding: 36px 32px 24px 32px;
  color: #fff;
  text-align: center;
}

.brand-title {
  font-weight: bold;
  font-size: 2.2rem;
  letter-spacing: .5px;
  margin-bottom: 14px;
}

.logo-img {
  width: 145px;
  margin-bottom: 10px;
}

.brand-winnicode {
  font-size: 1.4rem;
  font-weight: bold;
  color: #ef2571;
}

.brand-garuda {
  display: block;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 2px;
  color: #fff;
}

.form-label {
  color: #fff;
  text-align: left;
  width: 100%;
  font-weight: 500;
}

.form-control {
  border-radius: 7px;
  padding: 10px;
  border: 1.5px solid #333;
}

.form-control:focus {
  border-color: #18b223;
  box-shadow: 0 0 5px rgba(24, 178, 35, 0.8);
}

/* Styling for eye icon */
.fas {
  position: absolute;
  top: 100%;
  right: 15px;
  transform: translateY(20%);
  cursor: pointer;
  color: #000;
  font-size: 1.5em;
}

/* Button Styling */
.btn-green {
  background: #18b223;
  color: #fff;
  font-weight: 600;
  border-radius: 7px;
  border: none;
  margin-bottom: 18px;
  width: 100%;
  font-size: 1.08em;
  padding: 10px 0;
}

.btn-green:hover {
  background: #0e8018;
}

/* Terms and Conditions Text */
.terms {
  font-size: 0.95em;
  color: #ccc;
  margin-bottom: 18px;
}

.text-link {
  color: #18b223;
  text-decoration: underline;
  cursor: pointer;
}

/* Checkbox Styling */
.form-check {
  display: flex;
  align-items: center; /* Ensures the checkbox and label are vertically aligned */
  justify-content: center;
  margin-top: 10px; /* Adjusts space between checkbox and "Remember me" text */
}

.form-check-input {
  border-radius: 50% !important;
  background-color: #fff !important;
  height: 1.5rem !important;
  width: 1.5rem !important;
  accent-color: #18b223 !important;
  margin-right: 8px; /* Space between checkbox and text */
}

.form-check-input:checked {
  background-color: #18b223 !important;
  border-color: #18b223 !important;
}

.form-check-label {
  font-size: 1rem !important;
  color: #fff !important;
  margin-bottom: 0 !important; /* Ensures the label is vertically aligned with the checkbox */
}

