body {
  background: #101010;
}

.card-dark {
  max-width: 520px;
  margin: 80px auto;
  border-radius: 28px;
  box-shadow: 0 6px 24px rgba(0, 0, 0, .16);
  background: #101010;
  padding: 60px 48px 40px 48px;
  color: #fff;
  text-align: center;
}

.brand-title {
  font-weight: bold;
  font-size: 3.3rem;
  letter-spacing: .7px;
  margin-bottom: 20px;
  line-height: 1.15;
  color: #ffffff;
}

.logo-img {
  display: block;
  margin: 0 auto 22px auto;
  width: 390px;
  max-width: 80%;
}

.welcome {
  font-size: 1.3rem;
  margin-bottom: 40px;
  color: #ffffff;
}

.form-label {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 1.1rem;
  color: #fff;
}

.form-control {
  border-radius: 10px;
  padding: 15px;
  border: 1px solid #444;
}

.form-control:focus {
  border-color: #18b223;
  box-shadow: 0 0 5px rgba(24, 178, 35, 0.8);
}

.invalid-feedback {
  color: #e74c3c;
}

.btn-green {
  background: #18b223;
  color: #fff;
  font-weight: 700;
  border-radius: 11px;
  border: none;
  margin-bottom: 22px;
  width: 100%;
  font-size: 1.28em;
  padding: 16px 0;
  transition: .2s;
}

.btn-green:hover {
  background: #0e8018;
}

.text-link {
  color: #18b223;
  text-decoration: none;
}

.text-link:hover {
  text-decoration: underline;
}

.position-relative {
  position: relative;
}


.fas {
  position: absolute !important;
  top: 100%; 
  right: 35px;
  transform: translateY(40%) !important; 
  cursor: pointer !important;
  color: #000 !important;  
  font-size: 1.5em !important; 
}


.form-check {
  display: flex;
  align-items: center; 
  justify-content: center;
  margin-top: 10px; 
}

.form-check-input {
  border-radius: 50% !important;
  background-color: #fff !important;
  border-color: #18b223 !important;
  height: 1.5rem !important;
  width: 1.5rem !important;
  accent-color: #18b223 !important;
  margin-right: 8px;
}

.form-check-input:checked {
  background-color: #18b223 !important;
  border-color: #18b223 !important;
}

.form-check-label {
  font-size: 1rem !important;
  color: #fff !important;
  margin-bottom: 0 !important;
}

.text-center {
  margin-top: 16px;
  font-size: 1rem;
  color: #fff;
}
